local-address=127.0.0.1
local-port=5300
launch=gsqlite3
gsqlite3-database=/var/lib/powerdns/pdns.sqlite3

dnsupdate=yes
allow-dnsupdate-from=${DDNS_ALLOW_FROM}

webserver=yes
webserver-address=0.0.0.0
webserver-port=8081
webserver-allow-from=127.0.0.1,172.0.0.0/8
api=yes
api-key=${PDNS_API_KEY}

loglevel=3
guardian=no
daemon=no
