local-address=0.0.0.0
local-port=53
allow-from=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,127.0.0.0/8,fc00::/7

# Forward LAN zones to local authoritative server on port 5300
forward-zones=lan=127.0.0.1:5300
forward-zones+=local.lan=127.0.0.1:5300
forward-zones+=10.in-addr.arpa=127.0.0.1:5300
forward-zones+=168.192.in-addr.arpa=127.0.0.1:5300
forward-zones+=16.172.in-addr.arpa=127.0.0.1:5300
forward-zones+=17.172.in-addr.arpa=127.0.0.1:5300
forward-zones+=18.172.in-addr.arpa=127.0.0.1:5300
forward-zones+=19.172.in-addr.arpa=127.0.0.1:5300
forward-zones+=20.172.in-addr.arpa=127.0.0.1:5300
forward-zones+=21.172.in-addr.arpa=127.0.0.1:5300
forward-zones+=22.172.in-addr.arpa=127.0.0.1:5300
forward-zones+=23.172.in-addr.arpa=127.0.0.1:5300
forward-zones+=24.172.in-addr.arpa=127.0.0.1:5300
forward-zones+=25.172.in-addr.arpa=127.0.0.1:5300
forward-zones+=26.172.in-addr.arpa=127.0.0.1:5300
forward-zones+=27.172.in-addr.arpa=127.0.0.1:5300
forward-zones+=28.172.in-addr.arpa=127.0.0.1:5300
forward-zones+=29.172.in-addr.arpa=127.0.0.1:5300
forward-zones+=30.172.in-addr.arpa=127.0.0.1:5300
forward-zones+=31.172.in-addr.arpa=127.0.0.1:5300
forward-zones+=c.f.ip6.arpa=127.0.0.1:5300
forward-zones+=d.f.ip6.arpa=127.0.0.1:5300

lua-config-file=/etc/pdns/recursor.lua

# Cache tuning
refresh-on-ttl-perc=10
serve-stale-extensions=120
minimum-ttl-override=60
packetcache-ttl=3600
packetcache-negative-ttl=120
packetcache-servfail-ttl=30
max-cache-entries=1000000
max-packetcache-entries=500000

# REST API (LAN-accessible, restricted by allow-from)
webserver=yes
webserver-address=0.0.0.0
webserver-port=8082
webserver-allow-from=127.0.0.0/8,172.16.0.0/12,10.0.0.0/8,192.168.0.0/16
api-key=${PDNS_API_KEY}

loglevel=3
